{% extends 'edit.html.twig' %}

{# EDIT : SITE #}


{% block stylesheets %}
  {{ parent() }}
  <!-- Modal window styles -->
  <link
  href="{{ asset('bundles/lehnaspeciessearch/css/modal.css') }}" rel="stylesheet">
  <!-- Maps styles -->
  <link href="{{ asset('bundles/lehnaspeciessearch/css/leaflet-maps.css') }}" rel="stylesheet">
{% endblock %}

{% block headincl %}
  {{ parent() }}
{% endblock %}

{% block body %}
  {{ parent() }}

  {# Button Add template #}
  <template id="add-municipality-btn-tmp">
    <div>
      <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModalCommune">
        {{ ' buton.Add a new Commune '|trans }}
      </button>
    </div>
    <br/>
  </template>

  {# "See stations" button template #}
  <template id="see-stations-btn-tmp">
    <div>
      <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#detailsModal">
        {{ ' buton.See Stations Around '|trans }}
      </button>
    </div>
    <br/>
  </template>

  <!-- Definition of Modal (s): myModalCommune: Common form for the dynamic addition of a new  Municipality -->
  <div id="myModalCommune" class="modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{'title.commune'|trans}}</h4>
        </div>
        <div class="modal-body">
          <div id='content_to_change_station'>
            {{ render(controller('BbeesE3sBundle:Commune:newmodal' )) }}
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{'buton.Close'|trans}}</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Definition of Modal (s): detailsModal for the display of stations around the latitude / longitude GPS point -->
  <div id="detailsModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{'modal-title.Station - Localisation'|trans}}</h4>
        </div>
        <div class="modal-body">
          <div class="geo-container">
            <div id="station-geo-map"></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{'buton.Close'|trans}}</button>
        </div>
      </div>
    </div>


    {# Modal Map templates  #}

    <template id="leaflet-popup-template">
      {% verbatim %}
        <div class="station-popup">
          <label style="grid-column: 1 / span 2;">
            <a href={{station_url}}>
              <b>{{code}}</b>
            </a>
          </label>
          <label>Lat:</label>
          <span>{{lat}}</span>
          <label>Lon:</label>
          <span>{{lon}}</span>
          <label>Alt:</label>
          <span>{{altitude}}
            m</span>
          <span style="grid-column: 1 / span 2;text-align:right">{{municipality}}</span>
          <span style="grid-column: 1 / span 2;text-align:right">{{country}}</span>
        </div>
      {% endverbatim %}
    </template>

    <template id="target-legend">
      <span>{{ "queries.sampling.biomaterial.external" |trans }}</span>
      <svg height="16px" width="16px">
        <circle cx="8" cy="8" fill="none" r="5" stroke-dasharray="3" stroke-width="3" stroke="cyan"/>
      </svg>
    </template>

    <template id="proximity-legend">
      <span>{{ "queries.sampling.biomaterial.internal" |trans }}</span>
      <svg height="16px" width="16px">
        <circle cx="8" cy="8" fill="none" r="5" stroke-width="3" stroke="orangered"/>
      </svg>
    </template>
  </div>
  {# detailsModal #}

{% endblock %}


{% block scripts %}
  {{ parent() }}
  <script type="module" src="{{asset('e3s/js/station/form_edit.js')}}"></script>
{% endblock %}
